.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 10vh; /*ezt 100 helyett 10*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/*itt kitöröltük amit az appjs-ben kitöröltünk és hozzá tartozik*/